* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
}

.container {
    width: 900px;
    margin: 0 auto;
}

li {
    list-style: none;
}

.page-header {
    margin: 74px 0;
}

.nav-item {
    text-align: center;
    min-width: 570px;
}

.nav-item li {
    display: inline-block;
    margin-right: 130px;
}

.nav-item li:last-child {
    margin-right: 0;
}

.nav-item a {
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
}

.nav-item a:hover, .nav-item a:focus {
    color: #03a9f4;
}

.card {
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 130px;
}

.card:nth-child(2n) {
    margin-right: 0;
}

.card:nth-last-child(-n+2) {
    margin-bottom: 40px;
}

.card-story {
    font-size: 0;
}

.card-item {
    width: 420px;
}

.card-item img {
    margin-bottom: 32px;
}

.name-card {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 30px;
    font-size: 14px;
}

.card-item h2 {
    font-size: 30px;
    color: #626262;
    margin-bottom: 42px;
}

.info-card {
    font-size: 14px;
    line-height: 24px;
}

button {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #626262;
    padding: 22px 40px;
    border: 1px solid rgb(98, 98, 98);
    font-size: 30px;
    line-height: 24px;
    color: #626262;
    background-color: white;
    cursor: pointer;
    margin-bottom: 30px;
}