@media(min-width: 768px) {
    .forma {
        padding: 0;
        height: 700px;
    }
    header {
        margin-bottom: 152px;
        padding: 38px 50px 0;
    }
    .logo {
        margin-top: 0;
        margin-bottom: 0;
    }
    .wrap-header {
        width: 492px;
    }
    h1 {
        font-size: 50px;
    }
    .subtitle {
        font-size: 23.99px;
        margin: 40px 0 25px;
    }
    button {
        width: 226px;
        font-size: 13.99px;
    }
}

@media(min-width: 942px) {
    .people-text {
        font-size: 14px;
    }
}